.join-corp-bg {
  height: calc(100vh - var(--header-height-desktop));
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.join-corp-box {
  background: #fff;
  width: 25vw;
}
.join-corp-box h1 {
  text-align: center;
  color: #001f7a;
  margin-bottom: 3rem;
}
.join-corp-box form {
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.join-corp-box input[type="text"],
.join-corp-box input[type="password"],
.join-corp-box input[type="email"],
.join-corp-box input[type="tel"] {
  padding: 13px 14px;
  font-size: 1.2rem;
  border: 1px solid #dde1ea;
  background-color: #f7f9fc;
  border-radius: 8px;
  transition: border 0.2s;
}
.join-corp-box input:focus {
  border: 1.5px solid #001f7a;
  outline: none;
}

input[type="checkbox"] {
  accent-color: #001f7a; /* 체크박스 색상 */
}

.terms {
  font-size: 15px;
  margin: 10px 0 4px 0;
  color: #666;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.main-btn {
  background: #001f7a;
  color: #fff;
  border: none;
  padding: 13px 0;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 12px;
  cursor: pointer;
  transition: background 0.16s;
}
